extends layout

block content
  .style
    h1 Alert Test
    p Alerts will be shown here

  script.
    let socket = io();
    socket.on('alert', (msg) => {
      console.log('message: ', msg);
      alert('message: ' + JSON.stringify(msg));
    });