doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
  body
    block content
    link(rel='stylesheet', href='/css/bootstrap.min.css')
