doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/v4.css')
    link(rel='stylesheet', href='/css/v4gray.css')
    link(rel='stylesheet', href='/css/leaflet.css')
    link(rel='stylesheet', href='/css/3x2/flags.css')
    title S T E V I A | History
    style.
      @media(max-width: 768px) {
        #map {
          margin-top: -100px;
        }
      }

      @media(min-width: 768px) {
        .content {
          margin-top: -300px;
        }
      }

      body {
        font-family: "avenir next", Arial, sans-serif;
        font-size: 12px;
        color: #696969;
      }

      .ticks {
        font-size: 10px;
      }

      .track,
      .track-inset,
      .track-overlay {
        stroke-linecap: round;
      }

      .track {
        stroke: #000;
        stroke-opacity: 0.3;
        stroke-width: 10px;
      }

      .track-inset {
        stroke: #dcdcdc;
        stroke-width: 8px;
      }

      .track-overlay {
        pointer-events: stroke;
        stroke-width: 50px;
        stroke: transparent;
        cursor: crosshair;
      }

      .handle {
        fill: #fff;
        stroke: #000;
        stroke-opacity: 0.5;
        stroke-width: 1.25px;
      }

      #map{
        position:fixed; 
        top:0px; 
        left:0px; 
        right:0px;
        bottom:0px;
      }

      .fixed-bottom{
        right: 100px;
      }

      .hanlabeldle, .ticks {
        font-size: 10px;
        fill: black;
      }

  body
    .header
    .content
      .container-fluid.ps-0.pe-0
        #map
        .fixed-top
          .container
            .row.row-cols-auto.justify-content-center
              .col.align-self-center
                button#play-button.btn.btn-primary(disabled) Loading..
              #vis.col
        .fixed-bottom
          .container-fluid
            .row.justify-content-start
              .col-8
                table.table.table-sm.table-light.table-borderless
                  thead
                    tr
                      th Source
                      th Destination
                      th Alert
                      th Frequency
                  tbody#stats
                    tr
                      td.text-center(colspan="4") No Data Available
        
    .footer
    
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/d3.min.js')
    script(src='/js/topojson-client.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/leaflet.js')
    script.
      const mymap = L.map('map', {
        zoomSnap: 0.05,
        zoomControl: false,
        center: [20, 10],
        zoom: 2.55
      });
      const tile = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      });
      const mbTile = L.tileLayer('https://api.mapbox.com/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.mapbox.com/about/maps/">Mapbox</a> &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <a href="https://www.mapbox.com/map-feedback/" target="_blank"><strong>Improve this map</strong></a>'
      });
      const sTile = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
      });
      sTile.addTo(mymap);
      
      var control = new L.Control({position:'bottomright'});
      control.onAdd = function(map) {
        var azoom = L.DomUtil.create('button','btn btn-sm btn-light');
        azoom.innerHTML = "[⠀]";
        L.DomEvent
          .disableClickPropagation(azoom)
          .addListener(azoom, 'click', function() {
            map.setView(map.options.center, map.options.zoom);
          }, azoom);
        return azoom;
      };
      control.addTo(mymap);

      L.control.zoom({position: "bottomright"}).addTo(mymap);
    script(src='/js/animation2-new.js')
    script(src='/js/slider.js')