doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/v4.css')
    link(rel='stylesheet', href='/css/v4gray.css')
    link(rel='stylesheet', href='/css/3x2/flags.css')
    title S T E V I A | History
    style.
      @media(max-width: 768px) {
        #map {
          margin-top: -100px;
        }
      }

      @media(min-width: 768px) {
        .content {
          margin-top: -300px;
        }
      }

      body {
        font-family: "avenir next", Arial, sans-serif;
        font-size: 12px;
        color: #696969;
      }

      .label, .ticks {
        font-size: 10px;
        fill: #fff;
      }

      .track,
      .track-inset,
      .track-overlay {
        stroke-linecap: round;
      }

      .track {
        stroke: #000;
        stroke-opacity: 0.3;
        stroke-width: 10px;
      }

      .track-inset {
        stroke: #dcdcdc;
        stroke-width: 8px;
      }

      .track-overlay {
        pointer-events: stroke;
        stroke-width: 50px;
        stroke: transparent;
        cursor: crosshair;
      }

      .handle {
        fill: #fff;
        stroke: #000;
        stroke-opacity: 0.5;
        stroke-width: 1.25px;
      }
  body
    .header
    .content
      .container-fluid.pl-0.pr-0
        #map
        .fixed-top
          #vis.row.justify-content-center
            .d-flex.align-items-center
              button#play-button.btn.btn-primary.mr-3(disabled) Loading..
        .fixed-bottom
          .d-flex.justify-content-start
            .col-8
              table.table.table-sm.table-dark
                thead
                  tr
                    th Source
                    th Destination
                    th Alert
                    th Frequency
                tbody.table-borderless#stats
                  tr
                    td.text-center(colspan="3") No Data Available
        
    .footer
    
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/d3.min.js')
    script(src='/js/topojson-client.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/animation2.js')
    script(src='/js/slider.js')